/* all app scss styles here */
ul{
	margin-left: 0;
}
a.logout{
	font-size: 0.8rem !important;
	border: none !important;
	padding: 0 !important;
	color: #999 !important;
	text-transform: none;
	font-weight: normal;
	&:hover{
		text-decoration: underline;
		background-color: transparent !important;
	}
}
#login{
	position: absolute;
	height: auto;
	min-height: 180px;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-top:	-90px;
	margin-left: -150px;
}

.main-section{
	margin-top: 20px;
}